.paginator__wrapper {
  display: flex;
  align-items: center;
  justify-content: center; }

.paginator__list {
  padding: 0;
  margin: 0 10px;
  list-style-type: none;
  display: flex;
  align-items: center; }

.paginator__button {
  position: relative;
  background: #1779ba;
  color: #ffffff;
  padding: 4px 15px; }
  .paginator__button::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 100%;
    background: #1779ba;
    top: 0; }
  .paginator__button:hover {
    color: rgba(255, 255, 255, 0.8); }

.paginator__prev::after {
  left: -20px;
  clip-path: polygon(0 0, 100% 50%, 0 100%);
  transform: rotate(180deg); }

.paginator__next::after {
  right: -20px;
  clip-path: polygon(0 0, 100% 50%, 0 100%); }

.paginator__item + .paginator__item {
  margin-left: 10px; }

.paginator__link {
  display: block;
  padding: 4px 11px;
  background: #1779ba;
  color: #ffffff;
  border-radius: 4px 4px 0 0; }
  .paginator__link:hover {
    color: rgba(255, 255, 255, 0.8); }
